<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  <h1>What do you want to search?</h1>
  <form method="POST" action="/search_query">
    <p>  
  Type:   <select name="search_type">
    <option value="media">Media</option>
    <option value="actor">Actor</option>
  </select>
  <br>
  Query: <input type="text" name = "query" >
  </p>
  <input type="submit" value="Submit">
  </form>
  <!-- <div>{{data}}</div> -->

<!-- <p><a href="another">Go to the other page</a></p> -->

<p><a href="user">Go back to the home page</a></p>
</body>


</html>
